<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @home_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home_post.description %>
</p>

<%= link_to 'Edit', edit_home_post_path(@home_post) %> |
<%= link_to 'Back', home_posts_path %>
